### **Importing the necessary libraries**

In [1]:
import pandas as pd
import numpy as np
import calendar

### read dataset

In [2]:
df=pd.read_csv("billboard_complete.csv")

### **data overview**

In [3]:
df["chart_week"] =pd.to_datetime(df["chart_week"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27700 entries, 0 to 27699
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   chart_week    27700 non-null  datetime64[ns]
 1   current_week  27700 non-null  int64
 2   title         27700 non-null  object
 3   performer     27700 non-null  object
 4   last_week     27700 non-null  int64
 5   peak_pos      27700 non-null  int64
 6   wks_on_chart  27700 non-null  int64
 7   genre(s)      26739 non-null  object
 8   explicit      27700 non-null  bool
 9   duration-ms   27700 non-null  float64
 10  tempo         27699 non-null  float64
 11  loudness      27699 non-null  float64
 12  energy        27699 non-null  float64
 13  danceability  27699 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(4), object(3)
memory usage: 2.8+ MB

In [5]:
df.describe()

,chart_week,current_week,last_week,peak_pos,wks_on_chart,duration-ms,tempo,loudness,energy,danceability
count,27700,27700.000000,27700.000000,27700.000000,27700.000000,2.770000e+04,27699.000000,27699.000000,27699.000000,27699.000000
mean,2020-03-21 15:09:44.837544960,50.499964,38.914946,33.743755,12.315993,2.069252e+05,122.978162,-6.868097,0.632008,0.656826
min,1976-12-04 00:00:00,1.000000,0.000000,1.000000,1.000000,2.890000e+04,53.376000,-26.749000,0.031600,0.128000
25%,2021-01-23 00:00:00,25.750000,10.000000,9.000000,3.000000,1.694180e+05,99.894000,-7.984000,0.530000,0.555000
50%,2022-05-21 00:00:00,50.500000,36.000000,27.000000,9.000000,1.935060e+05,121.987000,-6.335000,0.643000,0.661000
75%,2023-09-16 00:00:00,75.250000,64.000000,55.000000,17.000000,2.215200e+05,142.868000,-5.092000,0.754000,0.765000
max,2025-01-11 00:00:00,100.000000,100.000000,100.000000,91.000000,3.614013e+06,215.338000,-1.896000,0.991000,0.971000
std,NaN,28.866631,30.369119,28.010730,11.774950,1.409496e+05,29.210766,2.606790,0.161173,0.144776

In [6]:
df.describe(include="O")

             title      performer genre(s)
count        27700          27700    26739
unique        3447           1796      576
top     Heat Waves  Morgan Wallen  country
freq            91            712     3313

## **adding extra columns to facilitate analysis**

In [7]:

df["Month"] = df["chart_week"].dt.month
df["Year"] = df["chart_week"].dt.year
df['Month'] = df['Month'].apply(lambda x: calendar.month_name[x])

# dropping inaccurate rows
df = df[~df['Year'].isin([1976, 1977])]

### **The chart position(s) of the longest song**

In [8]:
df.iloc[df["duration-ms"].idxmax()].to_frame().T

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart,genre(s),explicit,duration-ms,tempo,loudness,energy,danceability,Month,Year
13901,2022-05-28 00:00:00,2,As It Was,Harry Styles,2,1,7,"funk,new wave,pop,rock,soft rock,soul,synth-pop",False,167303.0,173.93,-5.338,0.731,0.52,May,2022

### **The artist who stayed the most in chart**

In [10]:
x=df.iloc[df['wks_on_chart'].idxmax()]
x[['performer','wks_on_chart']].to_frame().T

              performer wks_on_chart
17420  Bailey Zimmerman           32

### **The artist with the most #1 songs**

In [11]:
x=df[df['current_week']==1]
x['performer'].value_counts().head(1).to_frame().T

performer  Shaboozey
count             19

### **the genre with the most #1 songs**

In [12]:
x=df[df['current_week']==1]
x['genre(s)'].value_counts().head(10).to_frame()

                                                    count
genre(s)
christmas                                              19
country                                                19
country,country pop,hip hop,stomp and holler           19
alternative pop,contemporary country,country,co...     16
funk,new wave,pop,rock,soft rock,soul,synth-pop        16
k-pop                                                  16
soft pop                                               11
melodic rap                                            11
folk pop,musical,pop,pop punk,pop rock,power po...     11
hip hop,pop rap                                         9

### **when is rap in the top 10**

In [13]:
df['genre(s)'].fillna(" ")

0                                            christmas
1                                            christmas
2                                            christmas
3                                            christmas
4        contemporary r&b,country,hip hop,pop rap,trap
                             ...
27695                                          country
27696                                 country,red dirt
27697                                      melodic rap
27698         egyptian hip hop,arabic rap,egyptian pop
27699                                          country
Name: genre(s), Length: 26300, dtype: object

In [14]:
x=df[df['genre(s)'].str.contains('rap', case=False, regex=False, na=False)]
xx=x[x['current_week']<=10]
xx['Month'].value_counts().to_frame()

           count
Month
May           87
July          87
April         85
June          76
October       75
August        74
September     70
March         66
February      59
January       53
November      51
December      32

In [29]:
df.columns

Index(['chart_week', 'current_week', 'title', 'performer', 'last_week',
       'peak_pos', 'wks_on_chart', 'genre(s)', 'explicit', 'duration-ms',
       'tempo', 'loudness', 'energy', 'danceability', 'Month', 'Year'],
      dtype='object')

### **what month has songs with the highest tempo in the year 2021**

In [31]:
x=df[df['Year']==2021]

x.groupby('Month')['tempo'].mean().sort_values(ascending=False).to_frame()

                tempo
Month
January    124.690640
November   123.505832
August     123.329755
July       123.187586
October    122.897810
September  122.616345
May        122.176360
December   122.086807
June       121.999498
February   120.953343
March      120.021427
April      119.655030

### **correlation between the song's duration and the song's highest position**

In [15]:
x=df[["peak_pos","duration-ms"]]
x.corr()

             peak_pos  duration-ms
peak_pos     1.000000    -0.026398
duration-ms -0.026398     1.000000

### **the top 5 genres in october**

In [18]:
x=df[df['Month']=='October']
x['genre(s)'].value_counts().head().to_frame()

                                                   count
genre(s)
country                                              259
country,acoustic country                              88
rap,hip hop                                           70
gangsta rap,hip hop,pop rap,southern hip hop,trap     65
hip hop,southern hip hop,trap                         64

### **genres with the most charting songs**

In [19]:
df['genre(s)'].value_counts().head(10).to_frame()

                                                    count
genre(s)
country                                              3313
r&b                                                   787
country,acoustic country                              786
pop                                                   764
alternative pop,contemporary country,country,co...    696
hip hop,southern hip hop,trap                         608
rap,hip hop                                           560
reggaeton,trap latino,urbano latino,latin             490
melodic rap                                           486
hip hop,pop,pop rap,trap,west coast hip hop           430

### **artists with songs charting in the top 5 songs in their first week**

In [20]:
x=df[(df["last_week"]==0 )& (df["current_week"]<=5)]
x['performer'].to_frame()

                                    performer
201                             Justin Bieber
301                    Future Featuring Drake
402               Eminem Featuring Juice WRLD
903                                       BTS
1004                                Lady Gaga
...                                       ...
27101  Kendrick Lamar Featuring Lefty Gunplay
27102                    Kendrick Lamar & SZA
27103                          Kendrick Lamar
27104          Kendrick Lamar Featuring Dody6
27603                             Teddy Swims

[137 rows x 1 columns]

### **highest charting kpop song for each year**

In [21]:
x=df[df["genre(s)"]=="k-pop"]

x=x.groupby(["Year","title"])["current_week"].min().reset_index()
x.sort_values(['current_week'])

    Year                title  current_week
3   2020             Dynamite             1
37  2023           Like Crazy             1
19  2021  Permission To Dance             1
7   2020         Life Goes On             1
14  2021               Butter             1
..   ...                  ...           ...
54  2024         Never Let Go            97
55  2024            New Woman            97
53  2024               Mantra            98
50  2024                 Easy            99
63  2024         Winter Ahead            99

[66 rows x 3 columns]

### **the average tempo of songs in the top 5 positions for each year**

In [22]:
x=df[df["current_week"]<=5]
x=x.groupby(["Year"])["tempo"].mean().reset_index()
x

   Year       tempo
0  2020  124.492300
1  2021  128.493300
2  2022  131.922517
3  2023  123.935977
4  2024  120.952004
5  2025  128.952000